.form {
  width: 100%;
  display: flex;

  @include on-tablet {
    gap: 16px;
    justify-content: space-between;
  }
  &__input {
    background-color: #fff;
    border: none;
    padding-left: 24px;
    box-sizing: border-box;
    height: 50px;
    flex: auto;

    @include on-tablet {
      height: 70px;
    }

    &::placeholder {
      color: $main-placeholder-color;
      font-family: Montserrat, serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 100%;
    }

    &:hover {
      color: $text-color;

      &::placeholder {
        color: $text-color;
        opacity: 0.5;
      }
    }

    &:focus {
      color: $text-color;
      outline: 1px solid $red-accent-color;
    }
  }

  &__btn {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-image: url('../images/icons/icon-btn-red.svg');
    background-repeat: no-repeat;
    background-position: center;
    justify-self: right;
    border: none;
    cursor: pointer;

    @include on-tablet {
      width: 70px;
      height: 70px;
    }
  }
}
