.lection {
  img {
    width: 100%;
    min-height: 210px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    text-decoration: none;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 0 0 #1a5a4c40;
    transform: translateY(-50px);

    @include on-tablet {
      margin: 0 100px;
      padding: 45px 55px 50px;
      transform: translateY(-83px);
    }

    @include on-desctop {
      margin: 0 355px;
      padding: 45px 100px 50px;
    }
  }

  &__type-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;

    @include on-tablet {
      font-size: 14px;
    }
  }

  &__type {
    font-weight: 500;
    text-transform: uppercase;
    color: $main-placeholder-color;
  }

  &__date {
    font-weight: 700;
    line-height: 150%;
    color: $green-accent-color;
  }

  &__title {
    font-family: Montserrat, serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: $black-accent-color;
    text-align: center;

    @include on-tablet {
      font-size: 36px;
      line-height: 100%;
    }
  }
}
