.section {
  &__title {
    font-size: 36px;
    color: $black-accent-color;
    margin-bottom: 40px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      text-align: left;
      margin-top: 88px;
    }

    @include on-desctop {
      margin-top: 200px;
    }
  }
}
