.shedule {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  &__text {
    margin-bottom: 20px;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
  }
}
