.slider {
  margin: 0 auto;

  @include on-desctop {
    width: 100%;
    display: grid;
    row-gap: 30px;

    @include page-grid;

    .square {
      grid-column: span 4;
    }

    .wide {
      grid-column: span 8;
    }

    .hidden {
      display: none;
    }
  }
  .slick-slide {
    padding: 0 5px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

      @include on-desctop {
        @include hover(transform, scale(1.05));
      }
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-dots {
    bottom: -30px;

    li {
      color: $main-dots-color;
      margin: 0 4px;

      button::before {
        font-size: 9px;
        color: #000;
      }
    }
  }

  .slick-dots li.slick-active button::before {
    color: $green-accent-color;
  }
}
