.subscribe {
  background-image: url('../images/footer-bg-styled.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-top: 100px;

  @include on-tablet {
    margin-top: 92px;
  }

  @include on-desctop {
    margin-top: 200px;
  }

  .container {
    @include on-tablet {
      padding: 0 154px;
    }

    @include on-desctop {
      padding: 0 355px;
    }
  }

  &__title {
    padding-top: 88px;
    color: #fff;

    @include on-tablet {
      padding-top: 82px;
      text-align: center;
    }

    @include on-desctop {
      padding-top: 163px;
    }
  }

  &__text {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include on-tablet {
      margin-top: 16px;
      line-height: 100%;
    }
  }

  &__form {
    padding: 50px 0 88px;

    @include on-tablet {
      padding: 64px 0 82px;
    }

    @include on-desctop {
      padding: 72px 0 163px;
    }
  }
}
