@import 'utils';
@import 'fonts';
@import 'typography';
@import 'vars';
@import 'mixins';
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/section';
@import 'blocks/museum';
@import 'blocks/button';
@import 'blocks/top-bar';
@import 'blocks/icon';
@import 'blocks/menu';
@import 'blocks/shedule';
@import 'blocks/events';
@import 'blocks/image';
@import 'blocks/lection';
@import 'blocks/subscribe';
@import 'blocks/form';
@import 'blocks/footer';
@import 'blocks/scroll-top';
@import 'blocks/slider';
@import 'blocks/galery';
