@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desctop {
  @media (min-width: $desctop-min-width) {
    @content;
  }
}

@mixin content-padding-in-line() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desctop {
    max-width: 1280px;
    padding-inline: 55px;
  }
}

.container {
  @include content-padding-in-line;
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-desctop {
    --columns: 12;

    column-gap: 30px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property};
  transition: all 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
