$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desctop-min-width: 1280px;
$design-width: 1440px;
$green-accent-color: #1a5a4c;
$red-accent-color: #f14a27;
$black-accent-color: #0f0e08;
$main-dots-color: #e0e0e0;
$main-placeholder-color: #687480;
$button-secondary-color: #d7dde3;
$text-color: #4e4e4e;
